@charset "UTF-8";

@media (min-width: 992px) and (max-width: 1200px) {

body {
	padding: 0 10vw;
}

.skills h3 {
	font-size: 1em;
	color: #fff;
	background-color: #f15a29;
	padding: 4px 0 4px 10px;
	margin: 8px 0;
}

.hobby h4 {
	font-size: 0.8em;

}
}